.navbar {
    background-color: #bc5454;
  }
  .navbar-brand {
    color: #F2F2F2;
  }
  .nav-link {
    color: #F2F2F2;
  }
  .nav-link:hover {
    color: #FFA500;
  }
  .carousel-item img {
    height: 500px;
  }
  .carousel-control-prev,
  .carousel-control-next {
    color: #FFA500;
  }
  .carousel-indicators li {
    background-color: #F2F2F2;
  }
  .carousel-indicators .active {
    background-color: #FFA500;
  }
.carousel img {
  max-height: 500px; /* Set a maximum height for the image */
  max-width: 50%; /* Allow the width to adjust while maintaining aspect ratio */
}
.carousel img { border-right: 100px solid #FFFFFF; }
.carousel img { border-left: 200px solid #FFFFFF; }

.col-md-5 {
  display: flex;
  justify-content: center;
  align-items: center;
}

.col-md-5 a {
  margin: 0 10px;
}

.col-md-5 img {
  height: 30px;
  width: 30px;
}
.list-inline {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: flex-start;
	margin: 0;
	padding: 0;
}

.list-inline img {
	margin-right: 10px;
}
