{% load static %}

<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <title>Evento Tienda Lukatillas</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="{% static 'core/css/estilo.css' %}">
  <link rel="stylesheet" href="{% static 'core/css/index.css' %}">
  <link rel="stylesheet" href="{% static 'core/css/estilo_formulario2.css' %}">
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  <script src="{% static 'core/js/validacion_formulario.js' %}"></script>
</head>
<body>
  <header>
    <nav>
      <ul>
        <li><a class="navbar-brand" href="{% url 'inicio' %}" style="font-size: large;">Tienda Zapatillas Lukatillas</a></li>
        <li><a href="{% url 'inicio' %}">Inicio</a></li>
        <li><a href="{% url 'hombres' %}">Hombres</a></li>
        <li><a href="{% url 'mujeres' %}">Mujeres</a></li>
        <li><a href="{% url 'ninos' %}">Niños</a></li>
        <li><a href="{% url 'nosotros' %}">Sobre nosotros</a></li>
        <li><a href="{% url 'paginaApi' %}">Biblioteca Pokémon</a></li>
        <li><a href="{% url 'login' %}">Iniciar Sesión</a></li>
      </ul>
    </nav>
  </header>

  <section class="hero">
    <h1>Lukatillas</h1>
    <p>Tu tienda de zapatillas favorita</p>
  </section>

  <section class="about-us">
    <h2>Evento de nuestra página</h2>
    <p>Para participar en nuestro emocionante evento de zapatillas, debes cumplir con los siguientes requisitos:</p>
    <ul>
      <li>Tener al menos 18 años de edad.</li>
      <li>Rellenar el formulario de inscripción completo con tu nombre, correo electrónico, teléfono, dirección, género, talla de zapatilla, modelo y marca.</li>
      <li>Aceptar los términos y condiciones del evento.</li>
      <li>Seguir nuestra página en las redes sociales (opcional pero recomendado).</li>
    </ul>
    <p>Una vez que hayas cumplido con todos los requisitos anteriores, estarás oficialmente inscrito en nuestro evento y serás elegible para participar en sorteos y promociones exclusivas.</p>
    <p>No pierdas la oportunidad de formar parte de este evento increíble. Esperamos verte pronto y que disfrutes de la experiencia de nuestro evento de zapatillas.</p>
  </section>

  <section class="form">
    <h2 style="text-align: center;">Formulario para participar</h2>
    <p style="text-align: center;">Completa todos los campos para participar del sorteo y tendrás la posibilidad de ganar.</p>
    <form id="myForm">
      <label for="nombre">Nombre:</label>
      <input type="text" id="nombre" name="nombre" required>
      <span style="font-weight: bold; color: red;" id="nombreError" class="campo-error"></span><br><br>
      
      <label for="email">Correo electrónico:</label>
      <input type="email" id="email" name="email" required>
      <span style="font-weight: bold; color: red;" id="emailError" class="campo-error"></span><br><br>

      <label for="telefono">Teléfono:</label>
      <input type="tel" id="telefono" name="telefono" required>
      <span style="font-weight: bold; color: red;" id="telefonoError" class="campo-error"></span><br><br>

      <label for="direccion">Dirección:</label>
      <input type="text" id="direccion" name="direccion" required>
      <span style="font-weight: bold; color: red;" id="direccionError" class="campo-error"></span><br><br>

      <label for="genero">Género:</label>
      <select id="genero" name="genero" required>
        <option value="">Seleccione</option>
        <option value="masculino">Masculino</option>
        <option value="femenino">Femenino</option>
        <option value="otro">Otro</option>
      </select>
      <span style="font-weight: bold; color: red;" id="generoError" class="campo-error"></span><br><br>

      <label for="talla">Talla de zapatilla:</label>
      <input type="number" id="talla" name="talla" min="1" max="50" required>
      <span style="font-weight: bold; color: red;" id="tallaError" class="campo-error"></span><br><br>

      <label for="modelo">Modelo:</label>
      <input type="text" id="modelo" name="modelo" required>
      <span style="font-weight: bold; color: red;" id="modeloError" class="campo-error"></span><br><br>

      <label for="marca">Marca:</label>
      <input type="text" id="marca" name="marca" required>
      <span style="font-weight: bold; color: red;" id="marcaError" class="campo-error"></span><br><br>

      <input type="checkbox" id="terminos" name="terminos" required>
      <label for="terminos">Acepto los términos y condiciones del evento</label>
      <span style="font-weight: bold; color: red;" id="terminosError" class="campo-error"></span><br><br>

      <input type="submit" value="Participar">
    </form>
  </section>

  <footer>
    <p>&copy; 2023 Tienda Zapatillas Lukatillas. Todos los derechos reservados.</p>
  </footer>

  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  <script src="{% static 'core/js/validacion_formulario.js' %}"></script>
</body>
</html>
