/* General styles */
body {
  font-family: "Open Sans", sans-serif;
  margin: 0;
  padding: 0;
}

.container {
  max-width: 1000px;
  margin: 0 auto;
  padding: 0 15px;
}

h2 {
  text-align: center;
  font-size: 2rem;
  margin: 1rem 0;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

/* Header styles */
header {
  background-color: #f2f2f2;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
}

nav ul {
  display: flex;
}

nav li {
  margin: 0 1rem;
}

/* Main styles */
.sneaker-section {
  margin: 2rem 0;
}

.sneaker-card {
  background-color: #f2f2f2;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  padding: 1rem;
  text-align: center;
}

.sneaker-card h3 {
  margin-top: 0.5rem;
  font-size: 1.2rem;
}

.sneaker-card p {
  margin-top: 0.5rem;
  font-size: 1.2rem;
}

.sneaker-container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

/* Footer styles */
footer {
  background-color: #292929;
  color: white;
  text-align: center;
  margin-top: 2rem;
}

footer h5 {
  margin-bottom: 1rem;
}

footer p {
  margin-bottom: 0.5rem;
}

footer ul {
  margin-bottom: 1rem;
  display: flex;
  justify-content: center;
}

footer li {
  margin: 0 1rem;
}

footer img {
  max-height: 40px;
  margin-right: 1rem;
}

/* Responsive styles */
@media screen and (max-width: 600px) {
  nav {
    flex-direction: column;
    align-items: center;
  }

  nav li {
    margin: 0.5rem 0;
  }

  .sneaker-card {
    width: 100%;
    margin-bottom: 1rem;
  }

  .sneaker-container {
    justify-content: center;
  }
}

@media screen and (max-width: 900px) {
  .container {
    padding: 0;
  }

  nav {
    padding: 1rem 0;
  }

  nav li {
    margin: 0.5rem;
  }

  .sneaker-card {
    width: calc(50% - 1rem);
  }
}

.sneaker-card {
  width: 300px;
}
.sneaker-card img {
  width: 100%;
  height: 300px;
  object-fit: cover;
}
.col-md-5 {
  display: flex;
  justify-content: center;
  align-items: center;
}