{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <title>Registro de Usuario</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="{% static 'core/css/estilo.css' %}">
  <link rel="stylesheet" href="{% static 'core/css/index.css' %}">
  <link rel="stylesheet" href="{% static 'core/css/estilos_nosotros.css' %}">
</head>
<body>
  <header>
    <nav>
      <ul>
        <li><a class="navbar-brand" href="{% url 'inicio' %}" style="font-size: large;">Tienda Zapatillas Lukatillas</a></li>
        <li><a href="{% url 'inicio' %}">Inicio</a></li>
        <li><a href="{% url 'hombres' %}">Hombres</a></li>
        <li><a href="{% url 'mujeres' %}">Mujeres</a></li>
        <li><a href="{% url 'ninos' %}">Niños</a></li>
        <li><a href="{% url 'nosotros' %}">Sobre nosotros</a></li>
        <li><a href="{% url 'formulario2' %}">Evento Lukatillas</a></li>
        <li><a href="{% url 'paginaApi' %}">Biblioteca Pokémon</a></li>
      </ul>
    </nav>
  </header>

  <div id="registro" class="container">
    <div style="text-align: center;">
      <h1 class="display">Registro de Usuario</h1><br>       
      <form method="POST" id="formulario">
          {% csrf_token %}

          <div class="form-group">
              <label for="username">Nombre de Usuario</label><br>
              <input name="username" class="form-control" type="text"/>
              <div class="bg-danger mt-1">{{ form.errors.username }}</div>
          </div>

          <div class="form-group">
              <label for="email">Correo electrónico</label><br>
              <input name="email" class="form-control" type="email"/>
              <div class="bg-danger mt-1">{{ form.errors.email }}</div>
          </div>

          <div class="form-group">
              <label for="password1">Contraseña</label><br>
              <input name="password1" class="form-control" type="password"/>
              <div class="bg-danger mt-1">{{ form.errors.password1 }}</div>
          </div>

          <div class="form-group">
              <label for="password2">Confirmar contraseña</label><br>
              <input name="password2" class="form-control" type="password"/>
              <div class="bg-danger mt-1">{{ form.errors.password2 }}</div>
          </div>

          {% if form.non_field_errors %}
          <div class="form-group">
              <div class="bg-danger mt-1 p-2">Error en el registro de usuario!</div>
          </div>  
          {% endif %}
          
          {{form.non_field_errors}}

          <div class="form-group">
              <input class="btn" type="submit" value="Registrarse"/>
          </div>
          <p>¿Ya tienes una cuenta? <a href="{% url 'login' %}">Inicia sesión aquí</a></p>
          <p>¿Quieres listar tus usuarios? <a href="{% url 'list_user' %}">Haz clic aquí</a></p> <!-- Enlace para listar usuarios -->
      </form>
  </div>

</body>
</html>
