/* Estilos generales */
.hero {
  background-color: #000;
  color: #fff;
  text-align: center;
  padding: 100px 0;
}
.hero h1 {
  font-size: 4rem;
  margin-bottom: 20px;
}
.hero p {
  font-size: 1.5rem;
}
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}
h1, h2, h3, h4, h5, h6 {
  margin: 0;
  font-weight: bold;
}
ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
a {
  text-decoration: none;
  color: black;
}
/* Estilos para la barra de navegación */
header {
  background-color: #f2f2f2;
  border-bottom: 1px solid #ddd;
}
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
}
.navbar-brand {
  font-size: 24px;
  font-weight: bold;
}
nav ul {
  display: flex;
}
nav li {
  margin-left: 20px;
}
/* Estilos para la sección hero */
.hero {
  background-image: url('../img/hero.jpg');
  background-position: center;
  background-size: cover;
  height: 400px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
}
.hero h1 {
  font-size: 48px;
  margin-bottom: 20px;
}
/* Estilos sección about us */
.about-us {
  max-width: 800px;
  margin: 0 auto;
  padding: 40px;
  text-align: justify;
}
.about-us h2 {
  font-size: 36px;
  margin-bottom: 20px;
}
.about-us p {
  margin-bottom: 20px;
}
/* Estilos para el formulario */
form {
  max-width: 600px;
  margin: 0 auto;
  padding: 40px;
  background-color: #f2f2f2;
}
form label {
  display: block;
  margin-bottom: 10px;
  font-weight: bold;
}
form input[type="text"],
form input[type="email"],
form input[type="tel"] {
  width: 100%;
  padding: 10px;
  margin-bottom: 20px;
  border: none;
  border-radius: 15px;
  box-shadow: 0 0 5px #ddd;
}
form input[type="radio"] {
  margin-right: 10px;
  display: inline-block;
}
form input[type="submit"] {
  background-color: #4CAF50;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 10px;
  cursor: pointer;
  text-transform: uppercase;
  font-weight: bold;
}
/* Estilos para el footer */
footer {
  background-color: #333;
  color: white;
  padding: 10px;
}
footer h5 {
  font-size: 24px;
  margin-bottom: 20px;
}
footer p {
  margin-bottom: 10px;
}
footer ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
footer ul li {
  margin-bottom: 5px;
}
footer ul li a {
  color: white;
}
/* Estilos para los íconos sociales */
footer img {
  width: 32px;
  height: 32px;
  margin-right: 10px;
}
